{% extends 'components/base.html' %}
{% load static %}

{% block title %}
    <title>Reset Password</title>
{% endblock title %} 

{% block content %}
<div class="container">
    {% comment %} <div class="row justify-content-center">
        <div class="col-xl-5 col-md-8">
            <div class="card border border-0 shadow-lg my-5">
                <div class="card-body text-dark p-5">
                    <h5 class="text-center mb-5 fw-bold fs-1">Reset Password</h5>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="old_password" class="form-label">รหัสผ่านเดิม</label>
                            <input type="password" class="form-control" id="old_password" name="old_password">
                        </div>
                        <div class="mb-3">
                            <label for="new_password" class="form-label">รหัสผ่านใหม่</label>
                            <div class="password-wrapper">
                                <input type="password" class="form-control" id="new_password" name="new_password">
                                <span class="toggle-password show-password" onclick="togglePasswordVisibility('new_password')">
                                    <i class="fa-solid fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="confirm_password" class="form-label">ยืนยันรหัสผ่านใหม่</label>
                            <div class="password-wrapper">
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                                <span class="toggle-password show-password" onclick="togglePasswordVisibility('confirm_password')">
                                    <i class="fa-solid fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-warning fw-bolder">บันทึก</button>
                        </div>
                    </form>
                </div>    
            </div>
        </div>
    </div> {% endcomment %}
    <form method="POST">
        {% csrf_token %}
        
        <label for="id_email">อีเมล์:</label>
        <input type="email" name="email" id="id_email" required>
        
        <label for="id_phone">เบอร์โทรศัพท์:</label>
        <input type="text" name="phone" id="id_phone" required>
        
        <button type="submit">ส่งรหัส OTP</button>
      </form>
</div>
{% comment %} {% block js %}
<script type="text/javascript">
    function togglePasswordVisibility(inputId) {
        const passwordInput = document.getElementById(inputId);
        const passwordToggle = passwordInput.nextElementSibling;
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            passwordToggle.innerHTML = '<i class="fa-solid fa-eye-slash"></i>';
        } else {
            passwordInput.type = 'password';
            passwordToggle.innerHTML = '<i class="fa-solid fa-eye"></i>';
        }
    }
</script>
{% endblock js %} {% endcomment %}
{% endblock content %}