{% extends 'components/base.html' %} 
{% load static %} 

{% block title %}

<title>สมัครสมาชิก</title>
{% endblock title %} 

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>ลงทะเบียนผู้ใช้งาน</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <label>เลขประจำตัวประชาชน</label>
                                        {{ form.id }}
                                        <div class="form-text">กรอกเลขบัตรประชาชน 13 หลัก</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>ชื่อ</label>
                                        {{ form.first_name }}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>นามสกุล</label>
                                        {{ form.last_name }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>เพศ</label>
                                        {{ form.gender }}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>วันเกิด</label>
                                        {{ form.birthdate }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <label>ที่อยู่</label>
                                        {{ form.address }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>เบอร์โทร</label>
                                        {{ form.phone_number }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-12 mt-3">
                                    <div class="form-group">
                                        <label for="images" class="drop-container">
                                            <span class="drop-title">อัพโหลดรูปภาพด้านหน้าบัตรประชาชน</span>
                                            {{ form.profile1 }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-12 mt-3">
                                    <div class="form-group">
                                        <label for="images" class="drop-container">
                                            <span class="drop-title">อัพโหลดรูปภาพด้านหลังบัตรประชาชน</span>
                                            {{ form.profile2 }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <label>รหัสผ่าน</label>
                                        <input type="password" name="password1" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <label>ยืนยันรหัสผ่าน</label>
                                        <input type="password" name="password2" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <button type="submit" class="btn btn-success">บันทึกข้อมูล</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // ดักจับการเปลี่ยนค่าใน Dropdown ภูมิภาค
    document.getElementById("geographies").addEventListener("change", function() {
        var selectedGeographyId = this.value;
        
        // ส่งค่าของ Dropdown ภูมิภาคไปยัง URL ด้วย Ajax
        fetch(`/get_provinces/${selectedGeographyId}/`)
            .then(response => response.json())
            .then(data => {
                // อัปเดต Dropdown จังหวัดด้วยข้อมูลที่ได้รับกลับมา
                var provincesSelect = document.getElementById("provinces");
                provincesSelect.innerHTML = '<option selected disabled>--เลือกจังหวัด--</option>';
                data.forEach(province => {
                    var option = document.createElement("option");
                    option.value = province.id;
                    option.textContent = province.name_th;
                    provincesSelect.appendChild(option);
                });
            });
    });
</script>
<style>
    .drop-container {
        position: relative;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 120px;
        padding: 10px;
        border-radius: 10px;
        border: 2px dashed #555;
        color: #444;
        cursor: pointer;
        transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
    }

    .drop-container:hover {
        background: #eee;
        border-color: #111;
    }

    .drop-container:hover .drop-title {
        color: #222;
    }

    .drop-title {
        color: #444;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        transition: color 0.2s ease-in-out;
    }

    input[type="file"] {
        width: 350px;
        max-width: 100%;
        color: #444;
        padding: 5px;
        background: #fff;
        border-radius: 10px;
        border: 1px solid #555;
    }

    input[type="file"]::file-selector-button {
        margin-right: 20px;
        border: none;
        background: #084cdf;
        padding: 10px 20px;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        transition: background 0.2s ease-in-out;
    }

    input[type="file"]::file-selector-button:hover {
        background: #0d45a5;
    }


    div.img-resize img {
        width: 300px;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    div.img-resize {
        width: 100%%;
        height: auto;
        overflow: hidden;
        text-align: center;
    }
</style>
{% endblock content %}
