{% extends 'components/base.html' %} 
{% load static %} 

{% block title %}
    <title>ตารางรายชื่อพนักงาน</title>
{% endblock title %} 

{% block content %}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>ตารางรายชื่อพนักงาน / Employee List Table</h5>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-5">
                <div class="col-lg-3 px-4">
                    <a href="{% url 'createEmployees' %}" class="btn btn-primary btn-block">
                        <i class="fa-solid fa-plus"></i>เพิ่มผู้ใช้งาน
                    </a>
                </div>
                <form action="{% url 'search_employees' %}">
                    <div class="input-group">
                        <input class="form-control" type="search" name="search" placeholder="ป้อนชื่อพนักงานที่ต้องการค้นหา" required>
                        <button type="submit" class="btn btn-primary">ค้นหา</button>
                    </div>
                </form>
                <h6 class="mb-0 f-16 px-5 text-end">{{ count }} รายการ</h6>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-dark text-center">
                            <tr>
                                <th>ลำดับ</th>
                                <th>เลขประจำตัวประชาชน</th>
                                <th>ชื่อ</th>
                                <th>นามสกุล</th>
                                <th>แอ็กชัน</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for employee in employees %}
                                <tr>
                                    <th scope="row">{{ forloop.counter}}</th>
                                    <td>{{ employee.id }}</td>
                                    <td>{{ employee.first_name }}</td>
                                    <td>{{ employee.last_name }}</td>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center">
                                            <a href="{% url 'employeesProfile' employee.id %}">
                                                <i class="fa-solid fa-address-card btn btn-primary"></i>
                                            </a>
                                            <a href="{% url 'editEmployees' employee.id %}">
                                                <i class="fa-solid fa-pen-to-square btn btn-warning"></i>
                                            </a>
                                            <a href="#" onclick="alertConfirmed('{{ employee.id }}'); return false;">
                                                <i class="fa-solid fa-trash btn btn-danger"></i>
                                            </a>
                                            {% if employee.status %}
                                                <a href="{% url 'activate_employees' employee.id %}?status=close">
                                                    <i class="fa-solid fa-toggle-on btn btn-success"></i>
                                                </a>
                                            {% else %}
                                                <a href="{% url 'activate_employees' employee.id %}?status=open">
                                                    <i class="fa-solid fa-toggle-off btn btn-secondary"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function alertConfirmed(id) {
        Swal.fire({
        title: "ต้องการลบรายการนี้หรือไม่ ?",
        text: "เมื่อรายการนี้ถูกลบ คุณจะไม่สามารถกู้คืนได้ !!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "ตกลง",
        cancelButtonText: "ยกเลิก",
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    "ลบข้อมูลสำเร็จ", 
                    "รายการนี้ถูกลบเรียบร้อย", 
                    "success"
                    ).then(() => {
                    var deleteURL = "{% url 'deleteEmployees' id=0 %}".replace("0", id);
                    window.location.href = deleteURL;
                });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire("คำสั่งถูกยกเลิก", 
                    "ข้อมูลของคุณยังไม่ถูกลบ", 
                    "error"
                );
            }
        });
    }
</script>
{% endblock content %}