{% extends 'components/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    <title>ต่างหูทองคำ</title>
{% endblock title %} 

{% block content %}
<div class="container">
    
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4 justify-content-center">
            {% for product in products %}
            <div class="col mb-3">
                <div class="card text-dark shadow rounded">
                    <a href="{% url 'productDetail' product.id %}">
                        <img src="{{ product.picture1.url }}" alt="Product Image" style="object-fit: cover; width: 100%; height: 100%;">
                    </a>
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                {{ product.title }}
                            </h5>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>ราคา</span><span> {{ product.price | floatformat:2 | intcomma }} บาท</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>ค่ากำเหน็ด</span><span> {{ product.charge | floatformat:2 | intcomma }} บาท</span>
                        </div>
                        <div class="d-flex justify-content-between total font-weight-bold mt-4">
                            <span>Total</span><span> {{ product.sub_total | floatformat:2 | intcomma }} บาท</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}