{% extends 'components/base.html' %} 
{% load static %} 
{% load humanize %}

{% block title %}
    <title>การจัดการสินค้า</title>
{% endblock title %} 

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>ตารางรายการสินค้า / Product List Table</h5>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-5">
                <div class="col-lg-3 px-4">
                    <a href="{% url 'createProduct' %}" class="btn btn-primary btn-block">
                        <i class="fa-solid fa-plus"></i>เพิ่มสินค้า
                    </a>
                </div>
                <form action="{% url 'search_product' %}">
                    <div class="input-group">
                        <input class="form-control" type="search" name="search" placeholder="ป้อนชื่อสินค้าที่ต้องการค้นหา" required>
                        <button type="submit" class="btn btn-primary">ค้นหา</button>
                    </div>
                </form>
                <h6 class="mb-0 f-16 px-5 text-end">{{ count }} รายการ</h6>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead class="table-dark text-center">
                            <tr>
                                <th>ลำดับ</th>
                                <th>รหัสสินค้า</th>
                                <th>ชื่อสินค้า</th>
                                <th>จำนวน/ชิ้น</th>
                                <th>น้ำหนัก/กรัม</th>
                                <th>ค่ากำเหน็ด/บาท</th>
                                <th>ราคาทองคำ/บาท</th>
                                <th>แอ็กชัน</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <th class="text-center" scope="row">{{ forloop.counter }}</th>
                                    <td class="text-uppercase">{{ product.id }}</td>
                                    <td>{{ product.title }}</td>
                                    <td class="text-center">{{ product.stock }}</td>
                                    <td class="text-right">{{ product.weight | floatformat:2 }}</td>
                                    <td class="text-right">{{ product.charge | floatformat:2 | intcomma }}</td>
                                    <td class="text-right">{{ product.price | floatformat:2 | intcomma }}</td>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center">
                                            <a href="{% url 'productDetail' product.id %}">
                                                <i class="fa-solid fa-file-lines btn btn-primary"></i>
                                            </a>
                                            <a href="{% url 'editProduct' product.id %}">
                                                <i class="fa-solid fa-pen-to-square btn btn-warning"></i>
                                            </a>
                                            <a href="#" onclick="alertConfirmed('{{ product.id }}'); return false;">
                                                <i class="fa-solid fa-trash btn btn-danger"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</div>
<script type="text/javascript">
    function alertConfirmed(id) {
        Swal.fire({
        title: "ต้องการลบรายการนี้หรือไม่ ?",
        text: "เมื่อรายการนี้ถูกลบ คุณจะไม่สามารถกู้คืนได้ !!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "ตกลง",
        cancelButtonText: "ยกเลิก",
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    "ลบข้อมูลสำเร็จ", 
                    "รายการนี้ถูกลบเรียบร้อย", 
                    "success"
                    ).then(() => {
                    var deleteURL = "{% url 'deleteProduct' id=0 %}".replace("0", id);
                    window.location.href = deleteURL;
                });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire("คำสั่งถูกยกเลิก", 
                    "ข้อมูลของคุณยังไม่ถูกลบ", 
                    "error"
                );
            }
        });
    }
</script>
{% endblock content %}
