{% load i18n static admin_datta %}
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="{% url 'index' %}" class="b-brand">
                <div class="b-bg">
                <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">ระบบขายฝากทองคำ</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                {% comment %} <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li class="nav-item">
                    {% if request.user.is_superuser %}
                        <a href="{% url 'admin:index' %}" class="nav-link ">
                    {% else %}
                        <a href="{% url 'index' %}" class="nav-link ">
                    {% endif %}
                        <span class="pcoded-micon">
                            <i class="feather icon-home"></i>
                        </span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'tables' %}" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-server text-c-green"></i>
                        </span>
                        <span class="pcoded-mtext">Dynamic Tables</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/api/product/" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-zap text-c-green"></i>
                        </span>
                        <span class="pcoded-mtext">Generated API</span>
                    </a>
                </li> {% endcomment %}
                {% if not request.user.is_authenticated %}
                <li class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-lock"></i>
                        </span>
                        <span class="pcoded-mtext">Authentication</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li><a href="{% url 'login' %}">Sign IN</a></li>
                        <li><a href="{% url 'register' %}">Sign UP</a></li>
                    </ul>
                </li>
                {% endif %}
                {% admin_get_menu as app_list %}
                {% if app_list %}
                    {% for app in app_list %}
                        {% if app.has_perms and not app.pinned %}
                            <li class="nav-item pcoded-hasmenu">
                                <a href="javascript:" class="nav-link ">
                                    <span class="pcoded-micon">
                                        <i class=" {% if app.icon %}{{ app.icon }} {% else %} feather icon-box {% endif %}"></i>
                                    </span>
                                    <span class="pcoded-mtext">{{ app.label|slice:10 }}{% if app.label|length > 10 %}..{% endif %}</span>
                                </a>
                                {% if app.models %}
                                    <ul class="pcoded-submenu">
                                        {% for model in app.models %}
                                            {% if model.url %}
                                                <li class="nav-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}">
                                                    <a class="nav-link" href="{{ model.url }}">{{ model.label }}</a>
                                                </li>
                                            {% else %}
                                                <li class="nav-item">{{ model.label }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
                {% if request.user.is_authenticated and request.user.is_staff %}
                    <li class="nav-item pcoded-menu-caption">
                        <label class="f-14">จัดการข้อมูลพื้นฐาน</label>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'shopList' %}" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">จัดการข้อมูลร้าน</span>
                        </a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label class="f-14">จัดการข้อมูลสินค้า</label>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'categoryList' %}" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">จัดการข้อมูลหมวดหมู่สินค้า</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'productList' %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">จัดการข้อมูลสินค้า</span>
                        </a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label class="f-14">จัดการข้อมูลรับซื้อทองคำ</label>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'purchasesList' %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">จัดการข้อมูลรับซื้อทองคำ</span>
                        </a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label class="f-14">จัดการข้อมูลขายทองคำ</label>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'orderHistory' %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">จัดการข้อมูลขายทองคำ</span>
                        </a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label class="f-14">จัดการข้อมูลสมาชิก</label>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'employeesList' %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">จัดการข้อมูลพนักงาน</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'customersList' %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">จัดการข้อมูลลูกค้า</span>
                        </a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label class="f-14">จัดการข้อมูลสัญญาขายฝาก</label>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'contractsList' %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">จัดการข้อมูลสัญญาขายฝาก</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "notificationList" %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">แจ้งเตือนชำระค่างวด</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "paymentList" %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">ยืนยันการชำระเงิน</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "redemption_list" %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">จัดการข้อมูลไถ่ถอนทองคำ</span>
                        </a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label class="f-14">รายงาน</label>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "dashboard" %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">รายงาน</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "report_account" %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">รายงานผู้ใช้งาน</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "report_product" %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">รายงานคลังสินค้า</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "report_purchase" %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">รายงานยอดซื้อ</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "report_sales" %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">รายงานยอดขาย</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "report_contract" %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">รายงานการทำสัญญาขายฝาก</span>
                        </a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label class="f-14">สินค้า</label>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'category' %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">หมวดหมู่สินค้า</span>
                        </a>
                    </li>
                    {% comment %} <li class="nav-item pcoded-menu-caption">
                        <label>Forms & table</label>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'form_elements' %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-text"></i>
                            </span>
                            <span class="pcoded-mtext">Form elements</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'basic_tables' %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-server"></i>
                            </span>
                            <span class="pcoded-mtext">Table</span>
                        </a>
                    </li>
                    
                    <li class="nav-item pcoded-menu-caption">
                        <label>Tool</label>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-box"></i>
                            </span>
                            <span class="pcoded-mtext">Tool</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li>
                                <a href="{% url 'bc_button' %}">Button</a>
                            </li>
                            <li>
                                <a href="{% url 'bc_badges' %}">Badges</a>
                            </li>
                            <li>
                                <a href="{% url 'bc_breadcrumb_pagination' %}">Breadcrumb & paggination</a>
                            </li>
                            <li>
                                <a href="{% url 'bc_collapse' %}">Collapse</a>
                            </li>
                            <li>
                                <a href="{% url 'bc_tabs' %}">Tabs & pills</a>
                            </li>
                            <li>
                                <a href="{% url 'bc_typography' %}">Typography</a>
                            </li>
                            <li>
                                <a href="{% url 'icon_feather' %}">Feather
                                    <span class="pcoded-badge label label-danger">NEW</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Chart & Maps</label>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'morris_chart' %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-pie-chart"></i>
                            </span>
                            <span class="pcoded-mtext">Chart</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'google_maps' %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-map"></i>
                            </span>
                            <span class="pcoded-mtext">Maps</span>
                        </a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Pages</label>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-lock"></i>
                            </span>
                            <span class="pcoded-mtext">Authentication</span>
                        </a>
                    <ul class="pcoded-submenu">
                        <li><a href="{% url 'register' %}" target="_blank">Sign up</a></li>
                        <li><a href="{% url 'login' %}" target="_blank">Sign in</a></li>
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'profile' %}" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-user"></i>
                            </span>
                            <span class="pcoded-mtext">Profile Page</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'sample_page' %}" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-sidebar"></i>
                            </span>
                            <span class="pcoded-mtext">Sample page</span>
                        </a>
                    </li>
                    <li class="nav-item disabled">
                        <a href="javascript:" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-power"></i>
                            </span>
                            <span class="pcoded-mtext">Disabled menu</span>
                        </a>
                    </li> {% endcomment %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>